<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiLingual.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6876D9921C5A87A90097332A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6876D9A61C5A87A90097332A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6876D9B11C5A87A90097332A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
